.form {
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  & input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #000000;
    border-radius: 0;
    outline: none;
    font-size: 16px;

    &:focus {
      border-bottom: solid 1px rgb(105, 105, 255);
    }
  }

  & button {
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    transition: all ease-out 0.2s;
    margin-left: 20px;

    &:hover {
      background-color: rgba(105, 105, 255, 0.53);
    }
  }
}
